@use "design" as d

div.wpforms-container.wpforms-container-full
   margin: d.space(5) 0

   form.wpforms-form 
      div.wpforms-field-row.wpforms-field-medium, input[type="email"].wpforms-field-medium
         max-width: unset

   div.wpforms-submit-container
      text-align: center
      margin: d.space(1) 0

      button[type="submit"].wpforms-submit
         border-radius: d.space(1)
         border-color: var(--color-contact-form-button-border)
         background-color: var(--color-contact-form-button-bg)
         color: var(--color-contact-form-button-text)
         &:hover, &:active, &:focus
            background-color: var(--color-contact-form-button-bg-hover)



div.wpforms-confirmation-container-full
   border-radius: d.space(1.5)
   border: none
   box-shadow: 0px 1px 4px -2px var(--color-contact-form-confirm-shadow)
   background-color: var(--color-contact-form-confirm-bg)
   color: var(--color-text-primary)
   font-size: 90%